@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Bungee&family=PT+Sans+Narrow&family=Roboto:wght@100&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

